@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
}
img{
    width: 100%;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn-primary{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: #e55273;
    padding: 15px 35px;
    border: 0;
    color: white;
    font-size: 20px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 750;
}
.section-description{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    line-height: 30px;
}



/* header section */
.header{
    background-color: #e554731a;
}

/* banner section style */
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: 58%;
}
.banner-title{
    color: #272727;
    font-size: 75px;
    font-weight: 800;

}
.banner-description{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-right{
    width: 40%;
}
.banner-pic{
    width: 625px;
    height: 750px;
    padding-top: 20px;
}

/* main section */
main section{
    margin-top: 70px;
}
/* featured flowers section style*/
.flower-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.flower-detail-1 img{
    background: lightgray 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;
    
}
.flower-detail-2 img{
    background: rgba(167, 33, 98, 0.163) 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;
}
.flower-detail-3 img{
    background: lightgray 50% / cover no-repeat;
    border-radius: 300px 300px 0px 0px;
    
}

.flower-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}
/* Service section style */
.service-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2727270D;
    padding:  45px 30px;
}
.service-item img{
    width: 88px;
    height: 88px;
    margin: 0 55px;
}
.service-title{
    text-align: center;
    padding: 5px 0 ;
}
/* Hot Deal Section Style  */
.hot-deal{
    background-color:#e554730d ;
    padding: 30px 0;
}
.hot-deal-content{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0 25px;
}
.hot-deal-left{
    width: 50%;
    margin: 0 25px;
}
.hot-deal-left button{
    margin: 0 120px;
}
.hot-deal-title{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 8px;

}
.hot-deal-title span{
    color: #e55273;
}
.hot-deal-description{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.hot-deal-right{
    margin: 10px 25px;
}
.hot-deal-right img{
    width: 65%;
}